/* Current best way of having universal box-sizing to apply border box to an entire page */

/* to support older browser versions can add
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  to both html and *, *:before, *::after
  */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #414141;
  background-color:#c9c9c9;
  font-family: "Helvetica", "Times New Roman", serif;
}

#pictures {
  width: 500px;
}


